
* {
    user-select: none;
}


:root[theme="jardin"] {
    --fond: url(images/herbe.svg), linear-gradient(#33a3ff, #d3d3d3);
    --fond-repeat: repeat-x, no-repeat;
    --fond-position: bottom, center;
    --fond-dimension: 300px, cover;
}

:root[theme="mer"] {
    --fond: url(images/fond_mer.jpg);
    --fond-repeat: no-repeat;
    --fond-position: bottom;
    --fond-dimension: cover;
}

:root[theme="espace"] {
    --fond: url(images/fond_espace.jpg);
    --fond-repeat: no-repeat;
    --fond-position: bottom;
    --fond-dimension: cover;
}


html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

}

body {
    background: var(--fond);
    background-repeat: var(--fond-repeat);
    background-position: var(--fond-position);
    background-size: var(--fond-dimension);
    display: flex;
    flex-direction: column;
}

body.openboard {
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    border: 3px solid #000000;
    background: #ffffff;
}

#haut {
    height: 80px;
    background-color: rgba(255,255,255,0.5);
    border-bottom: 3px solid white;
    display: flex;
    flex-direction: row;
    align-items: center; 
    position: relative;   
}

body.openboard>#haut {
    border-bottom: 3px solid #000000;
}



#educajou {
    height: 75px;
    width: 100px;
    padding-left: 10px;
    position: relative;
    z-index: 1000;
}



#outils {
    flex: 1;
    text-align: center;
    display: flex;
    align-content: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 36px;
}



#conteneur-score-final {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    height: 50px;
    background-color: #ffffff;
    border: 2px solid #000000;
    position: relative;
}

#score, #score-final {
    height: 100%;
    width: 0%;
    background-color: rgba(41, 250, 41, 0.522);
    box-shadow: 0px 5px 10px -5px rgba(0, 0, 0, 0.5) inset, 5px 0px 10px -5px rgba(0, 0, 0, 0.5) inset, -5px 0px 10px -5px rgba(0, 0, 0, 0.5) inset;
}

#score {
    position: absolute;
    top: 0px;
    left: 0px;
    transition: width 0.5s ease;
    border-radius: 0px 10px 10px 0px;
}

#score-final {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0%;
    border-radius: 0px 2px 2px 0px;
    transition: width 1.5s ease;
    z-index: 1;       
}

#score-final-num {
    display: flex;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: bold;    
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    z-index: 2;
}

#panneau {
    position: absolute;
    width: 250px;
    border-color: #ffffff;
    border-style: solid;
    border-width: 3px 0px 3px 3px;
    border-radius: 15px 0px 0px 15px;
    height: calc(100% - 42px);
    right: -273px;
    top: 10px;
    background-color: #4674f3;
    z-index: 10000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    transition: right 0.2s ease;
    padding: 10px;
    box-shadow: 0px 0px 10px inset #525252;
    overflow-y: scroll;
    text-align: center;
}

#bouton-panneau {
    width: 70px;
    height: 70px;
    margin-right: 10px;
    margin-left: auto;
    background-color: transparent;
    border: none;
    outline: none;
    background-image: url(images/menu.svg);
    background-size: 100%;
    background-position: center;
    position: relative;
    z-index: 1000;
}

.zone-option {
    position: relative;
    text-align: center;
    border: 2px #fff solid;
    background-color: rgba(255,255,255,0.5);
    border-radius: 5px;
    margin: 10px;    
}

.zone-option h1 {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    font-weight: bold;

}

.zone-option p {
    text-align: left;
    margin-left: 10px;
}

.zone-option p label {
    margin-left: 5px;
}

.element-outils {
    font-family: 'Courier New', Courier, monospace;
    font-size: 36px;
    margin: 5px;
}



#conteneur {
    flex: 1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; /* Modifier align-content en align-items */
    position: relative;
}

.bouton-choix-exercice {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    padding: 5px;
    border-radius: 5px;    
}

#accueil p, #fin p, #consigne p {
    text-align: center;
    font-size: 24px;
}

.bloc {
    width: 100px;
    height: 100px;
    background-color: aqua;
    text-align: center;
    border-radius: 5%;
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    box-shadow: 0px 0px 5px 5px #0000005c inset;
    transition: background-color 1s ease;
}

.bloc.compatible {
    background-color: rgb(141, 247, 102);
}

.bloc.isole {
    background-color: rgb(223, 143, 255);
}

.bloc.surprise {
    background-color: rgb(238, 229, 68);
}

.bloc.choix {
    background-color: rgb(238, 158, 209);
    background-image: url(images/clic.svg);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
}

.bouton-valeur-choix {
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    height: 60px;
    width: 60px;
    text-align: center;
}




.bonus {
    position: absolute;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 50%;
    text-shadow: 5px 5px 5px orange;    
    background-position: top right;
    opacity: 1;
    transition: all 3s ease;
}

.bonus::after {
    content: '';
    width: 50px;
    height: 50px;
    position: absolute;
    top: -60px;
    background-image: url(images/etoile.svg);
    background-repeat: no-repeat;
    background-size: contain;
}

#reglages {
    margin: auto;
    padding: 15px;
    border-radius: 0px 0px 15px 15px;
    border: 3px solid #000000;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: #ffffff;    
}

.reglage * {
    display: block;
    text-align: center;
}

#reglages button {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    height: 40px;
    margin-right: 10px;   
}

#reglages input {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    width: 80px;
    height: 40px;
    margin-right: 10px;
    text-align: center; 
}



#bouton-apropos {
     
     padding: 10px; /* marge intérieure de 10px, utile en cas de bouton à texte uniquement */
   
  
    /* Coins arrondis  */
     border-radius: 10px;


   }

#bouton-commencer, #bouton-recommencer, #bouton-retour, #bouton-change-theme {
    margin: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}
   
 
   #darkbox {
    /* Elle doit prendre toute la largeur et toute la hauteyr  */
      position: fixed;
      z-index: 999; /* O la place sous la lightbox */
      width: 100%;
      height: 100%;
      top: 0px;
      left: 0px;
      background-color: rgba(0,0,0,0.5);
    }
    
    .lightbox {
      position: fixed;
      z-index: 1000; /* O la place sur la lightbox */
      display: flex;
      flex-direction: column;
      width: 80%;
      max-height: 90%;
      top: 50%;
      left: 50%;
      padding: 10px; /* Marge intérieure */
      border-radius: 20px; /* Coins arrondis */
      box-shadow: 0px 0px 15px #ffffff; /* Ombre transparente blanche */
      border: 2px solid #000000; /* Bordure de 2px noire */
      transform: translateX(-50%) translateY(-50%); /* Pour centrer dans la page */
      background-color: #ffffff; /* Couleur de fond */
    
    }
    
    .lightbox h1 { /* Le titre */
      font-family: Arial, Helvetica, sans-serif;
      font-size: 36px;
      min-height: 36px;
      margin: 10px;
      text-align: center;
    }
    
    .contenu-lightbox {
      flex: 1;
      font-size: 16px;
      font-family: Arial, Helvetica, sans-serif;
      overflow-y: auto;
      text-align: left;
      width: fit-content;
      margin: auto;
    }

    .contenu-lightbox img {
        max-width: 100%;
        border-radius: 10px;
    }
    
    .bouton-fermer {
      position : fixed;
      top: 10px;
      right: 10px;
      width: 30px;
      height: 30px;
      background-image: url(images/bouton_fermer.svg);
      background-size: contain;
      background-color: transparent;
      border: none;
      outline: none;
    }

    .bouton-options {
        position : fixed;
        top: 10px;
        left: 10px;
        width: 50px;
        height: 50px;
        background-image: url(images/options.svg);
        background-size: contain;
        background-color: transparent;
        border: none;
        outline: none;
      }
    
    
 .hide {
     display: none !important; /* Les objets de classe hide sont masqués */
 }
   
 .hidden {
     display: none;
 }